<ion-header>
  <ion-toolbar>
    <ion-title>Login employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginStaffForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating"
        >E-Mail <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
     <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span>

    <ion-item>
      <ion-label position="floating"
        >Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Password is required.
    </span>

    <ion-button
      color="primary"
      type="submit"
      expand="block"
    >
      Login
    </ion-button>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">Forgot password?</a>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
