<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating"
        >E-Mail <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required #email type="text"></ion-input>
    </ion-item>
    <ion-button
      color="primary"
      type="submit"
      (click)="onResetPassword(email)"
      expand="block"
    >
      Request a password reset
    </ion-button>
  </form>
</ion-content>
